body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $dark-purple;
}

main {
  margin-top: 10vh;
}

.spacer {
  padding-top: 10vh;
  // padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

* {
  font-family: 'Saira', sans-serif;
  color: $white,
}

.back{
  text-align: center;
  width: 155px;
  transition: transform .2s;
  &:hover {
    transform: scale(1.2);
  }
}

a{
  text-decoration: none;
}

.symbol{
  font-size: 25px;
  font-weight: bold;
}